body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Estilos adicionais para destacar os passos concluídos */
.concluido {
    color: #666;
    text-decoration: line-through;
}